h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Noto Sans SC', sans-serif;

    background-color: #F0F1EC;
    margin-right: 0px;
}

.container {
    display: grid;
    /* width: 748px;
    height: 748px; */

    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: ; */
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.left p {
    font-family: 'Noto Sans SC', sans-serif;
    /* font-weight: bold; */
    margin-top: 2px;
    margin-bottom: 2px;
}

.left {
    margin-right: 20px;
}

.blank {
    margin-top: 88.88px;
}

/* .right {
    min-width: 500px;
} */

a {
    font-family: 'Noto Sans SC', sans-serif;
    font-size:medium;
    text-decoration: none;
    font-weight: bold;
}

.infor p {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: medium;
}

table {
    border-collapse: collapse;
    /* table-layout: auto;
    height: auto; */
    border-spacing: 10px; /* 设置单元格之间的间距 */
    width: 100%;
}

td {
    border-top: 1px solid #e8c70a;
    padding: 5px 0px; /* 为单元格添加内边距 */
    padding-right: 20px;
    vertical-align: top;
}

.infor {
    display: none;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr !important;
    }
    
    body {
        overflow-x: hidden;
    }

    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    
    .left {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 23px);
        width: 100%;
    }
    
    /* Arrow Positioning */
    .arrow1 { grid-area: 4/1/4/2; }
    .arrow2 { grid-area: 5/1/5/2; }
    .arrow3 { grid-area: 6/1/6/2; }

    .arrow1, .arrow2, .arrow3 {
        display: none;
    }
    
    /* Bar Positioning */
    .bar1 { grid-area: 4/2/5/8; }
    .bar2 { grid-area: 5/2/6/8; }
    .bar3 { grid-area: 6/2/7/8; }

    .bar1, .bar2, .bar3 {
        display:none;
    }
    
    /* Header Positioning */
    h1 {
        grid-area: 1/6/1/9;
        margin-top: 0px;
        text-align: right;
        font-size: 1.2rem;
    }
    
    /* Contact Info Positioning */
    .tel {
        grid-area: 2/7/2/9;
        text-align: right;
    }
    
    .email {
        grid-area: 3/7/3/9;
        text-align: right;
    }
    
    .right {
        grid-column: 1 !important;
        width: 100%;
    }
}

.mobiel {
    font-family: 'Noto Sans SC', sans-serif;
}
